SESSION_SECRET=

NODE_ENV=dev

# Logging
LOG_LEVEL=info

# Database credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=eventbook
DATABASE_URL=postgresql://postgres:changeme@db:5432/eventbook
REDIS_URL=redis://redis:6379